@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

.espaco{
    padding-left: 8px;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*===== Colors ====== */
    --body-color: #E4E9F7; /* Cor de fundo principal */
    --sidebar-color: #FFF; /* Cor do fundo da sidebar */
    --primary-color: #004AAD; /* Cor principal */
    --primary-color-light: #F6F5FF; /* Cor clara para elementos secundários */
    --toggle-color: #DDD; /* Cor do botão de alternância */
    --text-color: #707070; /* Cor do texto */

    /*===== Transition ====== */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

.search-container {
    position: relative;
    width: 300px;
}

.search-input {
    width: 100%;
    padding: 10px 40px 10px 20px;
    border: 2px solid #ddd;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.search-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.search-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: #007bff;
    border: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #0056b3;
}

.search-button:active {
    background-color: #004080;
}

body {
    height: 100vh;
    background-color: #fcfdf9;
    transition: var(--tran-05);
}

body.dark {
    --body-color: #18191A; /* Cor de fundo para modo escuro */
    --sidebar-color: #242526; /* Cor da sidebar para modo escuro */
    --primary-color: #3A3B3C; /* Cor principal para modo escuro */
    --primary-color-light: #3A3B3C; /* Cor clara para elementos secundários no modo escuro */
    --toggle-color: #FFF; /* Cor do botão de alternância no modo escuro */
    --text-color: #CCC; /* Cor do texto no modo escuro */
}

/* ====== Sidebar ====== */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close {
    width: 78px;
}

.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

.sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.sidebar li .icon {
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar header {
    position: relative;
}

.sidebar .image-text img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

header .image-text .header-text {
    display: flex;
    flex-direction: column;
}

.header-text .name {
    font-weight: 600;
}

.header-text .profession {
    margin-top: -2px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--tran-03);
}

.sidebar.close header .toggle {
    transform: translateY(-50%);
}

body.dark .sidebar header .toggle {
    color: var(--toggle-color);
}

.sidebar .menu {
    margin-top: 35px;
}

.sidebar .search-box {
    background: var(--primary-color-light);
    border-radius: 6px;
    transition: var(--tran-05);
}

.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    background: var(--primary-color-light);
    transition: var(--tran-05);
}

.sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 7px;
    transition: var(--tran-04);
}

.sidebar li a:hover {
    background-color: var(--primary-color); /* Aplica o fundo colorido ao passar o cursor */
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color); /* Mantém o texto e o ícone visíveis sobre o fundo */
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode {
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun {
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i {
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .mode i.sun {
    opacity: 0;
}

body.dark .menu-bar .mode i.sun {
    opacity: 1;
}

body.dark .menu-bar .mode i.moon {
    opacity: 0;
}

.menu-bar .mode .toggle-switch {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--primary-color-light);
    transition: var(--tran-05);
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--primary-color);
    transition: var(--tran-03);
}

body.dark .switch::before {
    left: 25px;
}

.home {
    position: relative;
    height: 100vh;
    left: 250px;
    width: calc(100% - 250px);
    background: var(--body-color);
    transition: var(--tran-05);
}

.home text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 40px;
}

.sidebar.close ~ .home {
    left: 78px; /* Corrigido para ajustar com o novo tamanho da sidebar */
    width: calc(100% - 78px);
}

.titulo-tutorial{
    padding-left: 150px;
    padding-top: 30px;
    color: #004080;
}

.video-tutorial {
    width: 72%;
    height: auto;
    aspect-ratio: 16 / 9;
    padding-left: 90px;
    padding-top: 20px;
}

.texto-introducao{
    padding-left: 110px;
}

.linha{
    height: 1px;
    background-color: #000000;
    padding-right: 20px;
}

.titulo-passo{
    padding-left: 90px;
    color: #004080;
}

.ferramentas{
    padding-left: 100px;
    padding-top: 10px;
    color: #0056b3;
}

.itens{
    padding-left: 140px;
}

.passo-a-passo{
    padding-left: 140px;
}

#heartIconDesktop {
    padding-top: 10px;
    margin-left: 60px;
    font-size: 18px;
    border-color: black; /* Cor padrão do ícone */
    cursor: pointer;
    transition: color 0.3s ease;
}

#heartIconDesktop.filled {
    color: red; /* Cor do ícone ao ser clicado */
}

.comentario{
    font-size: 18px;
    padding-left: 10px;
    padding-top: 9px;
}

#commentFormContainer {
    margin-top: 20px;
    padding: 20px;
    background-color: #F5F5F5;
    border: 1px solid #004AAD;
    border-radius: 10px;
}

#commentForm textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #004AAD;
    border-radius: 5px;
}

#commentForm button {
    background-color: #004AAD;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#commentForm button:hover {
    background-color: #FCA311;
}

.estrelas{
    padding-top: 10px;
    margin-left: 250px;
}

.carrosel{
    padding-top: 20px;
}

.right-align {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 30px;
}

.videos-relacionados{
    padding-top: 20px;
    padding-left: 20px;
    font-size: 30px;
    color: #004080;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.tutorial-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tutorial-item {
    background-color: #FFFFFF;
    border: 1px solid #FCA311;
    padding: 15px;
    border-radius: 8px;
}

.tutorial-item h2 {
    margin-top: 0;
}

.add-tutorial {
    margin-top: 40px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #FCA311;
}

.add-tutorial h2 {
    color: #004AAD;
}

label {
    font-weight: bold;
}

.negrito{
    font-weight: 500;
}

.subtitulo{
    color: #e49007;
}

/* Estilo para o campo de entrada */
#searchQuery {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 25px; /* Borda arredondada */
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    width: 200px; /* Largura fixa para o campo de entrada */
}

#searchQuery:focus {
    border-color: #007bff; /* Cor da borda ao focar */
    outline: none; /* Remove a borda padrão de foco */
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.3); /* Sombra mais pronunciada ao focar */
}

/* Estilo para o botão */
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 25px; /* Borda arredondada */
    cursor: pointer;
    font-size: 1opx;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}


/* Tabs Section Styling */
.tab-section {
    margin-top: 30px;
    font-family: 'Arial', sans-serif;
}

/* Tabs Styling */
.tabs {
    display: flex;
    justify-content: flex-start;
    border-bottom: 2px solid #e0e0e0;
}

.tab-button {
    background-color: transparent; /* Sem cor de fundo */
    border: none;
    padding: 12px 25px;
    font-size: 15px;
    margin-left: 70px;
    cursor: pointer;
    color: #666;
    position: relative;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    outline: none; /* Remove contorno ao focar */
}

/* Estado ativo */
.tab-button.active {
    color: #000; /* Cor do texto ao selecionar */
    font-weight: bold;
    border-bottom: 3px solid #004AAD; /* Borda inferior ao ativar */
}


/* Borda inferior quando o botão está ativo */
.tab-button.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 100%;
    background-color: #004AAD;
    transition: width 0.3s ease;
}

/* Borda inferior no hover */
.tab-button:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 100%;
    background-color: #FCA311; /* Cor de destaque no hover */
}

/* Evitar movimento no botão */
.tab-button.active, .tab-button {
    border-bottom: 3px solid transparent; /* Garante espaço fixo para a borda */
}

/* CELULAR -------------------------------------------------------*/ 
.titulo-tutorial-cllr{
    font-size: 22px;
    padding-top: 20px;
}

.texto-introducao-cllr{
    font-size: 13px;
    padding-left: 10px;
}

.video-tutorial-cllr{
    width: 90%;
    height: auto;
    aspect-ratio: 12 / 7;
    padding-left: 40px;
    padding-top: 20px;
}

.fa-heart{
    padding-top: 10px;
    padding-left: 60px;
}

#heartIconMobile {
    font-size: 18px;
    color: #000000; /* Cor padrão do ícone */
    cursor: pointer;
    transition: color 0.3s ease;
}

#heartIconMobile.filled {
    color: red; /* Cor do ícone ao ser clicado */
}

.comentario-cllr{
    padding-top: 10px;
    padding-left: 12px;
}

.estrelas-cllr{
    padding-top: 10px;
    padding-left: 120px;
}

.star {
    font-size: 18px;
    color:black; /* Cor padrão das estrelas */
    cursor: pointer;
    transition: color 0.2s ease;
}

.star.selected {
    color: #FCA311; /* Cor das estrelas selecionadas */
}


.ferramentas-cllr{
    padding-left: 70px;
    padding-top: 5px;
    font-size: 15px;
}

.itens-cllr{
    padding-left: 30px;
    font-size: 14px;
}

.passo-a-passo-cllr{
    padding-left: 30px;
    font-size: 12px;
}

.como-fazer{
    font-size: 15px;
}

.video-relacionados{
    font-size: 23px;
    padding-left: 80px;
}

/* Tabs Styling */
.tabs-mobile {
    display: flex;
    justify-content: flex-start;
    border-bottom: 2px solid #e0e0e0;
}

.tab-button-mobile {
    background-color: transparent; /* Sem cor de fundo */
    border: none;
    padding: 12px 25px;
    font-size: 15px;
    margin-left: 20px;
    cursor: pointer;
    color: #666;
    position: relative;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    outline: none; /* Remove contorno ao focar */
}

/* Estado ativo */
.tab-button-mobile.active {
    color: #000; /* Cor do texto ao selecionar */
    font-weight: bold;
    border-bottom: 3px solid #004AAD; /* Borda inferior ao ativar */
}


/* Borda inferior quando o botão está ativo */
.tab-button-mobile.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 100%;
    background-color: #004AAD;
    transition: width 0.3s ease;
}

/* Borda inferior no hover */
.tab-button-mobile:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 100%;
    background-color: #FCA311; /* Cor de destaque no hover */
}

/* Evitar movimento no botão */
.tab-button-mobile.active, .tab-button {
    border-bottom: 3px solid transparent; /* Garante espaço fixo para a borda */
}